@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: url(./img/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    color: white;
    margin: auto;
    
    
}
.container{
    background-color:rgba(0, 0, 0,0.3 );
    width: 95%;
    
    margin:2.5rem auto;
    
   

}

.container-2{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    
    
}

.netflix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.netflix h1{
    font-family: 'Bowlby One SC', cursive;
    font-size: 3rem;
}

.netflix h1 span{
    color: red;
    font-family: 'Bowlby One SC', cursive;
    
}

.N-form{
    /* border: 2px solid greenyellow; */
    margin: 3rem auto;
    padding: 1rem;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0,0.7 );
    font-size: 1rem;
    


}
.form-values{
    margin-bottom: 1rem ;
}

p{
    font-size: 1rem;
}

.submit{
    display: flex;
    justify-content: center;
}

.submit input{
    width: 5rem;
    padding: .3rem ;
    background-color: red;
    color: white;
    border-radius: .7rem;
}

.submit input:hover{
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1);
}

textarea{
    resize: none;
}